@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

@layer components {
  folder {
    @apply rounded-xl border-2 border-slate-800 p-10;
  }

  folder:hover {
    @apply shadow-lg duration-300;
  }

  .button-section {
    @apply rounded-xl border-2 border-slate-800 p-10 hover:bg-slate-800 hover:text-slate-100 hover:shadow-2xl hover:duration-300;
  }

  button.client {
    @apply rounded-lg border-2 border-slate-800 p-5;
  }

  .text-input {
    @apply mt-1 block w-full rounded-md border border-slate-100 bg-white px-3 py-2 placeholder-slate-400 focus:border-sky-600 focus:placeholder-slate-600 focus:outline-none focus:ring-2 focus:ring-sky-600;
  }
  .label-text {
    @apply text-lg text-slate-100 md:text-xl;
  }

  .button-send {
    @apply max-w-lg rounded-xl bg-slate-700 px-5 py-4 text-xl text-white duration-300 hover:bg-slate-800;
  }
}
